#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat                                                      text eol=crlf

# These are the struct files and are in a binary format
app/test-support/src/main/resources/fortune/*.dat          binary

# These files need to be in a unix format
app/test-support/src/main/resources/file-library/success/fortune/art            text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/ascii-art      text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/bofh-excuses   text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/computers      text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/cookie         text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/debian         text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/definitions    text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/disclaimer     text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/drugs          text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/education      text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/ethnic         text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/food           text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/fortunes       text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/goedel         text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/humorists      text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/kids           text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/knghtbrd       text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/law            text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/linux          text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/linuxcookie    text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/literature     text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/love           text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/magic          text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/medicine       text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/men-women      text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/miscellaneous  text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/news           text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/paradoxum      text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/people         text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/perl           text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/pets           text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/platitudes     text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/politics       text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/pratchett      text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/riddles        text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/science        text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/songs-poems    text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/sports         text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/startrek       text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/tao            text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/translate-me   text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/wisdom         text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/work           text eol=lf
app/test-support/src/main/resources/file-library/success/fortune/zippy          text eol=lf
