#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat                                                              text eol=crlf
/gradlew                                                           text eol=lf

# These are the struct files and are in a binary format
app/test-support/src/main/resources/fortune/*.dat                  binary
# These files need to be in a unix format
app/test-support/src/main/resources/file-library/success/fortune/* text eol=lf
